header {
  background: #2980b9;
}
.navbar-brand {
  color: #fff !important;
}

.page-layout__viewport {
  padding-top: 4rem;
}

.page-layout__nav-item--active {
  font-weight: bold;
  text-decoration: underline;
}

.nav-link {
  color: #fff !important;
}
